In [1]:
import pandas as pd

In [77]:
file1 = 'jul_and_aug_2017_only.csv'
# C needs the title
# C needs the tile to read
df2 = pd.read_csv(file1)

In [78]:
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789211,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2

In [79]:
file1 = 'jul_and_aug_2017_only.csv'
# C needs the title
# C needs the tile to read
df1 = pd.read_csv(file1)

In [80]:
df.loc[df['channel'].isin(['sale','fullprice'])]

NameError: name 'df' is not defined

In [81]:
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789211,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2

In [82]:
df1['name'] = df1['start station id']

In [83]:
df1['type'] = "start"

In [84]:
df1['latitude'] = df1['start station latitude']
df1['longitude'] = df1['start station longitude']

In [85]:
print(len(df1))
print(len(df2))

3552097
3552097

In [86]:
df1 = df1.loc[df1['start station id'].isin([3068, 281, 3042, 426, 514, 2006, 387, 519])]
df2 = df2.loc[df2['end station id'].isin([519,426,514,497,459,402,435,3255])]

In [87]:
print(len(df1))
print(len(df2))

145627
196563

In [88]:
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,name,type,latitude,longitude
79,2010,2017-07-01 00:07:54,2017-07-01 00:41:24,426,West St & Chambers St,40.717548,-74.013221,530,11 Ave & W 59 St,40.771522,-73.990541,15309,Subscriber,1981.0,1,426,start,40.717548,-74.013221
131,962,2017-07-01 00:12:28,2017-07-01 00:28:30,387,Centre St & Chambers St,40.712733,-74.004607,537,Lexington Ave & E 24 St,40.740259,-73.984092,18287,Customer,1986.0,1,387,start,40.712733,-74.004607
138,1543,2017-07-01 00:13:34,2017-07-01 00:39:17,2006,Central Park S & 6 Ave,40.765909,-73.976342,3383,Cathedral Pkwy & Broadway,40.804213,-73.966991,26986,Subscriber,1985.0,2,2006,start,40.765909,-73.976342
252,1008,2017-07-01 00:22:36,2017-07-01 00:39:24,3068,Humboldt St & Varet St,40.703172,-73.940636,436,Hancock St & Bedford Ave,40.682166,-73.953990,18946,Subscriber,1979.0,1,3068,start,40.703172,-73.940636
289,347,2017-07-01 00:26:38,2017-07-01 00:32:25,519,Pershing Square North,40.751873,-73.977706,477,W 41 St & 8 Ave,40.756405,-73.990026,18821,Subscriber,1972.0,2,519,start,40.751873,-73.977706

In [89]:
df2['name'] = df2['end station id']

In [90]:
df2['type'] = "end"

In [91]:
df2['latitude'] = df2['end station latitude']
df2['longitude'] = df2['end station longitude']

In [92]:
column_keys = df1.columns

In [93]:
initialize_df = df1.values.tolist()

In [94]:
list_df = df2.values.tolist()

In [95]:
initialize_df = initialize_df + list_df

In [96]:
compiled_df = pd.DataFrame(initialize_df, columns=column_keys)

In [97]:
compiled_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,name,type,latitude,longitude
0,2010,2017-07-01 00:07:54,2017-07-01 00:41:24,426,West St & Chambers St,40.717548,-74.013221,530,11 Ave & W 59 St,40.771522,-73.990541,15309,Subscriber,1981.0,1,426,start,40.717548,-74.013221
1,962,2017-07-01 00:12:28,2017-07-01 00:28:30,387,Centre St & Chambers St,40.712733,-74.004607,537,Lexington Ave & E 24 St,40.740259,-73.984092,18287,Customer,1986.0,1,387,start,40.712733,-74.004607
2,1543,2017-07-01 00:13:34,2017-07-01 00:39:17,2006,Central Park S & 6 Ave,40.765909,-73.976342,3383,Cathedral Pkwy & Broadway,40.804213,-73.966991,26986,Subscriber,1985.0,2,2006,start,40.765909,-73.976342
3,1008,2017-07-01 00:22:36,2017-07-01 00:39:24,3068,Humboldt St & Varet St,40.703172,-73.940636,436,Hancock St & Bedford Ave,40.682166,-73.953990,18946,Subscriber,1979.0,1,3068,start,40.703172,-73.940636
4,347,2017-07-01 00:26:38,2017-07-01 00:32:25,519,Pershing Square North,40.751873,-73.977706,477,W 41 St & 8 Ave,40.756405,-73.990026,18821,Subscriber,1972.0,2,519,start,40.751873,-73.977706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342185,84,2017-08-31 23:50:47,2017-08-31 23:52:12,462,W 22 St & 10 Ave,40.746920,-74.004519,459,W 20 St & 11 Ave,40.746745,-74.007756,26824,Subscriber,1982.0,1,459,end,40.746745,-74.007756
342186,612,2017-08-31 23:50:54,2017-09-01 00:01:06,476,E 31 St & 3 Ave,40.743943,-73.979661,497,E 17 St & Broadway,40.737050,-73.990093,27616,Subscriber,1990.0,1,497,end,40.737050,-73.990093
342187,553,2017-08-31 23:52:31,2017-09-01 00:01:44,346,Bank St & Hudson St,40.736529,-74.006180,3255,8 Ave & W 31 St,40.750585,-73.994685,16222,Subscriber,1992.0,1,3255,end,40.750585,-73.994685
342188,358,2017-08-31 23:52:55,2017-08-31 23:58:53,358,Christopher St & Greenwich St,40.732916,-74.007114,426,West St & Chambers St,40.717548,-74.013221,30718,Subscriber,1983.0,1,426,end,40.717548,-74.013221
342189,70,2017-08-31 23:55:54,2017-08-31 23:57:05,462,W 22 St & 10 Ave,40.746920,-74.004519,459,W 20 St & 11 Ave,40.746745,-74.007756,20626,Subscriber,1982.0,1,459,end,40.746745,-74.007756

In [98]:
compiled_df.groupby('name').count()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,type,latitude,longitude
name,,,,,,,,,,,,,,,,,,
281,20336,20336,20336,20336,20336,20336,20336,20336,20336,20336,20336,20336,20336,10412,20336,20336,20336,20336
387,18605,18605,18605,18605,18605,18605,18605,18605,18605,18605,18605,18605,18605,10369,18605,18605,18605,18605
402,22185,22185,22185,22185,22185,22185,22185,22185,22185,22185,22185,22185,22185,20807,22185,22185,22185,22185
426,58309,58309,58309,58309,58309,58309,58309,58309,58309,58309,58309,58309,58309,45184,58309,58309,58309,58309
435,21933,21933,21933,21933,21933,21933,21933,21933,21933,21933,21933,21933,21933,20879,21933,21933,21933,21933
459,22618,22618,22618,22618,22618,22618,22618,22618,22618,22618,22618,22618,22618,19084,22618,22618,22618,22618
497,24333,24333,24333,24333,24333,24333,24333,24333,24333,24333,24333,24333,24333,21869,24333,24333,24333,24333
514,49270,49270,49270,49270,49270,49270,49270,49270,49270,49270,49270,49270,49270,35039,49270,49270,49270,49270
519,61938,61938,61938,61938,61938,61938,61938,61938,61938,61938,61938,61938,61938,57871,61938,61938,61938,61938
2006,18831,18831,18831,18831,18831,18831,18831,18831,18831,18831,18831,18831,18831,9836,18831,18831,18831,18831
3042,1928,1928,1928,1928,1928,1928,1928,1928,1928,1928,1928,1928,1928,1754,1928,1928,1928,1928
3068,2282,2282,2282,2282,2282,2282,2282,2282,2282,2282,2282,2282,2282,2014,2282,2282,2282,2282
3255,19622,19622,19622,19622,19622,19622,19622,19622,19622,19622,19622,19622,19622,18009,19622,19622,19622,19622

In [99]:
compiled_df.to_csv('top_8_stations_to_from_jul_aug_2017_third.csv', index=False)

In [73]:
compiled_df.loc[compiled_df['name'] == 72]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender, name, type, latitude, longitude]
Index: []